<!DOCTYPE html>
<html>
    <head>
        <title>
          Mobile Application
        </title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content "IE=edge">
        <meta name="viewport" content="width=device-width, initial scale=1">
        <title>Bootstrap basic template</title>
        <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
    <link href="D:/nodes/bootstrap/dist/css/bootstrap.min.css" ></href>
    <link rel="stylesheet" href="D:/nodes/bootstrap/dist/css/bootstrap.min.css" ></href>
<link rel="stylesheet" href="D:/html codes/css file/mypage.css">
    </head>
    <body>
<div class="container">
  <div class="row">
    <div class="col-2">
      <a href="" class="btn btn-default">ProductName</a>
    </div>
    <div class="col-2">
        <a href="" class="btn btn-default">Testmonials</a>
      </div> <div class="col-2">
          <a href="" class="btn btn-default">Features</a>
        </div>
        <div class="col-2">
            <a href="" class="btn btn-default">Gallery</a>
          </div>
          <div class="col-1">
              <a href="" class="btn btn-default">FAQ</a>
            </div>
            <div class="col-1">
                <a href="" class="btn btn-default">Contact</a>
              </div>
              <div class="col-2">
                  <a href="" class="btn btn-success">Buy Now</a>
                </div>
             
<br><br>
  </div>
  <div class="row">
  <div class="col-1"></div>
  <div class="col-10">
      <div class="jumbotron">
          <h1 class="display-4"><center>Great product Title</center></h1>
          <p class="lead"><h5>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspLorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, numquam</h5>
          </p>
          
          <p class="lead"><center>
              <a href="" class="btn btn-success">Buy Now!</a>
      <a href="" class="btn btn-default">Try it Free</a>
    </center>
            </p>
        </div>
  </div>
</div>
 <div id="id2">
  <center>  <h3>Testimonials.</h3><h5>This is what our customers are saying about us</h5></center>
  </div>
</div>

    <script src="D:/nodes/jquery/jquery-3.3.1.slim.min.js">
    </script>
    <script src="D:/nodes/popper/popper.min.js"></script>
    <script src="D:/nodes/bootstrap/dist/js/bootstrap.min.js"></script>
    

</body>
</html>